.container_chat_wrapper {
  display: flex;
  height: calc(100vh - 80px);
  background: var(--background);
  color: var(--text-color);
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 20px;
}

.mobile_menu_button {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 100;
  color: var(--text-color);
  background-color: none;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile_menu_button {
    display: block;
  }
}
