.container_users_result {
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  padding: 16px;
  width: 100%;
  height: fit-content;
  color: var(--text-color);
}

.header_users_result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_users_result h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 14px;
}

.view_all {
    font-size: 0.9rem;
}

.view_all:hover {
  text-decoration: underline;
  cursor: pointer;

}


.user_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.user_item:last-child {
  margin-bottom: 0;
}

.user_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.user_info {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.name {
  font-weight: 600;
  font-size: 0.95rem;
}

.username {
  font-size: 0.85rem;
  color: gray;
}

.follow_info {
  font-size: 0.8rem;
  color: gray;
}

.options_btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: gray;
  padding: 4px;
}

.options_btn:hover {
  color: var(--text-hover);
}