.modal_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.modal_content {
  width: 420px;
  max-height: 80vh;
  background-color: var(--secondary-color);
  border-radius: 14px;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.35);
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.close_btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--text-color);
}

.user_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_item:hover {
  cursor: pointer;
}

.user_item:hover .name {
  text-decoration: underline;
}

.user_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.user_info {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.name {
  font-weight: 600;
  font-size: 0.95rem;
}

.username {
  font-size: 0.85rem;
  color: gray;
}

.follow_info {
  font-size: 0.8rem;
  color: gray;
}

.empty_state {
  text-align: center;
  padding: 2rem 0;
  font-size: 0.95rem;
  color: var(--secondary-text-color);
}

.primary_button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary_button:hover {
  opacity: 0.9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .modal_content {
    width: 90%;
  }
}


.placeholder {
  width: 48;
  height: 48;
  border-radius: 50%;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}