.bannerContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  margin: 0 auto 15px auto;
  max-width: var(--max-width);
}

.bannerImage {
  object-fit: cover;
  object-position: center;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
}

.small {
  height: 150px;
}

.large {
  height: 300px;
}

@media (max-width: 768px) {
  .bannerContainer {
    height: 150px;
  }
}
