.login_form {
  width: 400px;
  background-color: var(--secondary-color);
  padding: 1.8rem 1.4rem;
  border-radius: 12px;
}

.login_form h2 {
  margin-bottom: 1.4rem;
  text-align: center;
}

.login_form input[type="email"] {
  margin-bottom: 1.2rem;
}

.login_form input[type="password"] {
  margin-bottom: 0.5rem;
}

.login_form .forgot_password {
  font-size: var(--font-size-esm);
  margin-bottom: 2.2rem;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  transition: 200ms;
}

.login_form .forgot_password:hover {
  color: var(--primary-color);
}

.login_form .create_accounte {
  text-align: center;
  font-size: var(--font-size-esm);
  margin-top: 1.2rem;
}

.login_form .create_accounte .create_accounte_highlight {
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}

.login_form .create_accounte .create_accounte_highlight:hover {
  text-decoration: underline;
}

.login_form .or_divider {
    text-align: center;
    margin: 1.2rem 0;
     font-size: var(--font-size-esm);
}
