.container_search_wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 20px;
  width: 100%;
}

.container_search_content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.center_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter_btn {
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  width: fit-content;
}
