.container_colaborations_wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 20px;
}

.container_main_content {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 20px;
  margin-top: 20px;
}

.center_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search_input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

@media (max-width: 1024px) {
  .container_main_content {
    grid-template-columns: 250px 1fr;
  }
  .right_sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .container_main_content {
    grid-template-columns: 1fr;
  }
}
