.top_section {
    display: flex;
    justify-content: space-between;
    /* Title left, button right */
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.no_cards_message {
  text-align: center;
  vertical-align: center;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 10rem;
}



.introduction_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.find_musicians_card_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1% 0%;
}

.title,
.subtitle {
    margin-left: 15px;
}

.container_description {
    display: none;
    justify-content: center;
}

.text_description {
    width: 250px;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 768px) {
    .top_section {
        flex-direction: column;
        align-items: flex-start;
    }

    .button_container {
        align-self: flex-end;
        margin-top: 0.5rem;
    }

    .title,
    .subtitle {
        display: none;
    }

    .container_description {
        display: flex;
    }
}