.container_wrapper {
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 0 20px;
  background-color: var(--background);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_box {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
}

.login_area {
  display: flex;
  gap: 1rem;
}

.theme_changer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.right_area {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}