.login_page {
  min-height: calc(100vh - 80px); 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem; 

  
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../../../assets/images/login_background.png"); 

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: background 0.3s ease;
}
