.filter_row {
  display: flex;
  gap: 1rem;
}

.filter_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter_tag {
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.2s ease;
}

.active_filters {
  display: flex;
  gap: 10px;
}
